#plan_estudio select{
	padding: 5px 12px;
	width: 99%
}
#plan_estudio input[type=number]{
	width: 94%
}
#agregar_plan{
	width: auto !important
}
#agregar_plan span:before{
	content: "\f196"
}
.plan{
	float: left;
	margin: 2px 0;
	padding: 2px 0 2px 2px;
	width: 100%;
}
#plan_estudio label{
	width: 30%;
	margin: 0;
}
.x_plan{
	padding: 6px !important;
	font-size: 146.5%;
	background: transparent;
	border: 0;
	color: #D9534F
}
.x_plan:hover{
	text-decoration: none;
	cursor: pointer
}
.x_plan span:before{
	content: "\f057"
}
label#lasig{
	margin-left: 9px
}
.select_parche{
	position: absolute;
	top: -99999px
}
#plan_estudio input.asignar_profesor_asignatura{
	width: 98%
}